<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Blog</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <!-- CSS Files -->
    <link rel="stylesheet" href="/plugin/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/plugin/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/plugin/animate.min.css" />
</head>
<body>

    {{ partial "header.html"  }}

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Blog List</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/">Home</a></li>
                        <!--li><a href="#">About</a></li-->
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content content-light  videos-list videos-list-list">
        <div class="container" id="vueId">
            <div class="pull-right list-view-change">
                <a class=""  href="/blog-grid"><i class="fa fa-th-large" ></i> Grid view </a>
                <a class="active" href="/blog"><i class="fa fa-th-list " ></i> List view</a>
            </div>

            <div class="filter" id="filters">
                <a class="btn btn-theme navbar-btn btn-orange" data-filter="*">All</a> &nbsp; 
                {{range $name, $taxonomy := where .Site.Taxonomies.categories "Type" "blog" }}
                <a class="btn btn-theme navbar-btn btn-lightblue" data-filter=".{{$name}}">{{ humanize $name }}</a>
                {{ end }}               
            </div>
            
            <hr class="invisible" />
            <hr class="invisible" />

            <!-- LIST VIEW ENDS-->
            <div class="isotope-grid">
                {{ range .Paginator.Pages }}
                <article class="row video-item {{ if .Params.categories }}{{ range .Params.categories }} {{ lower . | urlize }} {{ end }} {{ end }}" data-category="music">
                    <div class="col-md-4">
                        <a href="{{.Permalink}}">
                             {{ with .Params.featured_image }}<img src="{{ . }}" alt="" class="img-rounded blog-img img" width="300px" height="auto" />{{ end }}
                        </a>
                    </div>
                    <div class="col-md-8">
                            <h3 class="video-title"><a href="{{.Permalink }}">{{ .Title }}</a></h3>
                            <p class="video-description">{{.Summary}}</p>
                            <div class="row video-params">
                                <div class="col-md-4">
                                    Author: <b>{{if .Params.author}} {{.Params.Author}}{{end}}</b>
                                </div>
                                <div class="col-md-4">
                                    Date: <b>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</b>
                                </div>
                                <div class="col-md-4">
                                    Category: <b>{{ if .Params.categories }}{{ range .Params.categories }} {{ . }}, {{ end }} {{ end }}</b>
                                </div>
                            </div>                        
                        </div>
                </article>
                {{ end }}
            </div>
            <!--LIST VIEW ENDS -->


            <!-- PAGINATION STARTS-->
            {{ $pag := $.Paginator }}
            {{ if gt $pag.TotalPages 1 }}
            <ul class="pagination">
                {{ if $pag.HasPrev }}
                <li class=""><a href="{{ $pag.Prev.URL }}" ><i class="fa fa-angle-left"></i></a></li>
                {{ end }}
                
                {{ range $pag.Pagers }}
                {{ if eq . $pag }}
                <li class="active"><a href="{{ .URL }}">{{ .PageNumber }} <span class="sr-only">{{ .PageNumber }}</span></a></li>
                {{ else }}
                <li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
                {{ end }}
                {{ end }}

                {{ if $pag.HasNext }}
                <li><a href="{{ $pag.Next.URL }}"><i class="fa fa-angle-right"></i></a></li>
                {{ end }}
            </ul>
            {{ end }}
            <!-- PAGINATION ENDS-->
 
        </div>
    </section>

    {{ partial "footer.html"  }}


    <!-- JavaScript Files -->
    
    <script src="/plugin/jquery-1.10.2.min.js"></script>
    <script src="/plugin/isotope.pkgd.min.js"></script>
    <script>
        jQuery(document).ready(function($) {
            var $grid = $('.isotope-grid').isotope({
                itemSelector: '.video-item',
                category: '[data-category]'
            });

            $('#filters').on('click', 'a', function() {
                var filterValue = $( this ).attr('data-filter');
                $grid.isotope({ filter: filterValue });
            }); 

            $(".navbar-btn").click(function(){
                    $(this).removeClass('btn-lightblue');
                    $(this).addClass('btn-orange').siblings().removeClass('btn-orange');
                    $(this).siblings().addClass('btn-lightblue'); 
                });
        });   
    </script>
    <script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/script/animate.js"></script>
    <script src="/plugin/jquery.cuteTime.min.js"></script>


    <!-- / JavaScript Files -->
</body>
</html>