<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Blog</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS Files -->
	<link rel="stylesheet" href="/plugin/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/plugin/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/plugin/pretty-photo/css/prettyPhoto.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/animate.min.css" />
	<!-- / CSS Files -->
	
</head>
<body>
    {{ partial "header.html" }}
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>{{.Title}}</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/">Home</a></li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Blog post -->
    <section class="content content-light  blog">
        <div class="container">
            <div class="row">
                <!-- Blog post - center -->
                <div class="col-md-8">
                    <article>
                        <header>
                           {{ with .Params.featured_image }} <p class="blog-img"><img src="{{ . }}" alt="" class="img-rounded"  width="617px" height="auto" /></p>{{ end }}
                            <p class="blue-box blog-params">
                                <span><i class="fa fa-calendar"></i> <time datetime="2013-01-10T21:01">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</time></span>
                                <span><i class="fa fa-user"></i> {{.Params.Author}}</span>
                                <span><i class="fa fa-tags"></i>{{ if .Params.categories }}{{ range .Params.categories }} {{ . }}, {{ end }} {{ end }}
                            </p>
                        </header>
                        
                        <!-- blog description - content -->
                        <div class="blog-content">
                            {{ .Content }}
                        </div>
                        
                    </article>
                </div>
                
                <!-- Blog - sidebar -->
                <aside class="col-md-4" role="complementary">
                
                    <!-- Widget: Search -->
                    <section class="widget search">
                        <h2>Search</h2>
                        <form action="blog-list.htm" class="search-blog" method="get" role="search">
                            <input type="search" class="form-control input-lg" name="q" placeholder="search for something..." />
                            <a href="#" class="submit"><i class="fa fa-search"></i></a>
                        </form>
                    </section>
                    
                    <!-- Widget: Categories -->
                    <section class="widget category">
                        <h2>Categories</h2>
                        <nav>
                        <ul>
                            {{range $name, $taxonomy := where .Site.Taxonomies.categories "Type" "blog" }}
                            <li><a href="{{ "/blog/categories/" | relLangURL }}{{ $name | urlize }}"><i class="fa fa-play"></i>{{ humanize $name }}</a></li>
                            {{ end }}
                        </ul>
                        </nav>
                    </section>
                    
                    <!-- Widget: Categories -->
                    <section class="widget posts">
                        <h2>Recent Postings</h2>
                        <ul>
                            {{ range first 5 (where .Site.RegularPages "Type" "blog")  }}
                            <li><a href="{{.Permalink}}"><h3>{{.Title}}</h3>{{ dateFormat "Jan 2, 2006" .Date }}</a></li>
                            {{ end }}
                        </ul>
                    </section>
                </aside>
            </div>
        </div>        
    </section>
    
    {{ partial "footer.html"}}

    <!-- JavaScript Files -->
    <script src="/plugin/jquery-1.10.2.min.js"></script>
    <script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugin/jquery.cuteTime.min.js"></script>
    <script src="/plugin/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script src="/script/script.js"></script>
    <!-- / JavaScript Files -->
</body>
</html>